<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>検索したい曲名・アーティストを入力してください</h1>
      <%= form_tag("/search",:method => 'get') do %>
        <input name = "term">
        <input type="submit">
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
