<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="flashNotice">
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
      </div>
      <h1>検索したい曲名・アーティストを入力してください</h1>
      <div class="search_container">
        <%= form_tag("/search",:method => 'get') do %>
          <input name = "term" type="text" size="25" placeholder="キーワード検索">
          <input type="submit" value='&#xf002'>
        <% end %>
      </div>
      <% if @current_user %>
      <div class="menu-trigger" href="">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="nav-list">
        <ul>
          <li><%= link_to("お気に入り一覧へ","/user/#{@current_user.id}/show",{class: "li_list"}) %></li>
          <li><%= link_to("登録情報の編集","/user/#{@current_user.id}/edit",{class: "li_list"}) %></li>
          <li><%= link_to("ログアウト","/logout",{class: "li_list",method: "post"}) %></li>
        </ul>
      </nav>
      <div class="overlay"></div>
      <% end %>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
    <% if @current_user %>
    <% else %>
      <footer>
        <div class="footer_container">
          <% if @current_user %>
          <% else %>
            <span class="footer_des">あなただけのプレイリストを作成しましょう</span>
            <%= link_to("アカウント作成","/signup",{class: "footer-button1"}) %>
            <%= link_to("ログイン","/login_form",{class: "footer-button2"}) %>
          <% end %>
        </div>
      </footer>
    <% end %>
  </body>
</html>
